*{
    font-size: 30px;
    color: aliceblue;
}

/* css for landing page */
.hero{
    background-color: rgb(16, 16, 18);
}
section {
    height: 100vh;
    background-color: rgba(7, 7, 255, 0.458);
    border: solid black;
}

nav{
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 400px;
    
}
 li {
    /* width: 200px; */
    text-decoration: none;
 }

.hero-area{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
 .hero-text{
    margin-left: 80px;
 }

 .socials{
    margin-right: 20px;
    display: flex;
    flex-direction: column;
 }
/* css for about me section */
 .about-me{
    display: flex;
    align-items: center;
    justify-content: space-around;
 }

 .about-me-text{
    margin-left: 80px;
    margin-right: 500px;
 }

 .profile-picture{
    margin-right: 350px;
 }

 /* css for projects section */

 .projects{
    display: flex;
    align-items: center;
    justify-content: space-around;
 }
 .project-card{
    background-color: rgb(217, 196, 237);
    border: solid black;
 }


footer{
    height: 500px;
}