*{
    font-size: 30px;
    color: aliceblue;
}

/* css for landing page */
.hero{
    background-color: rgb(16, 16, 18);
}
section {
    height: 100vh;
    background-color: rgba(7, 7, 255, 0.458);
    border: solid black;
}

nav{
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 400px;
    
}
 li {
    /* width: 200px; */
    text-decoration: none;
 }

.hero-area{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
 .hero-text{
    margin-left: 80px;
 }

 .socials{
    margin-right: 20px;
    display: flex;
    flex-direction: column;
 }

 .social{
   margin: 20px;
 }

 .logo{
   height: 80px;
   margin: 30px;

 }
/* section controling other sub-sections */
 .about-me-sub-section{
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 0px 80px 0px 80px;
 }

.project-sub-section{
   display: flex;
   flex-direction: column;
   text-align: center;
   justify-content: center;
}


 h2{
   font-size: 40px;
 }

 .subtext{
   font-size: 20px;
   font-weight: 300;
 }

 .profile-picture{
   width: 500px;
   border-radius: 360px;
 }
/* css for about me section */


 /* css for projects section */

 .project-container{
    display: flex;
    justify-content: space-around;
 }
 .project-card{
   width: 300px;
   height: 500px;
   margin: 10px;
   background-color: rgb(217, 196, 237);
   box-shadow: 5px 5px 20px rgb(16, 16, 18);
 }

 .project-image{
   margin-top: 25px;
   width: 250px;
   border-radius: 125px;
 }


footer{
    height: 500px;
    background-color: yellow;
}